@media screen and (max-width:1000px){
    .container{
        height: 10vh;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
        height: 34px;
    }
    
    .slider{
        height: 78vh;
    }
    /* .slider img{
        height: 38vh;
        width: 416px;
    } */
    .search{
        justify-content: center;
    }
    .search input{
        margin: 10px 10px;
        width: 300px;
    }

    .carditem img{
        width: 140px;
    }
}